.border {
    text-align: left;
    font-size: 15px;
    border: 2px solid blue;
    margin: 125px 150px;
    border-radius: 10px;
    border-style: outset;
}

.aboutUs {
    border: 2px solid black;
}

.aboutUl {
    list-style-type: none;
}

.names {
    margin-left: -30px;
}

.aboutLi {
    margin-left: -30px;
    list-style-type: none;
}

.aboutIntro {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

.intro {
    /* border: 2px solid black; */
    margin-left: 50px;
    margin-right: 200px;
}