@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto+Mono:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Open+Sans:wght@300&family=Righteous&family=Roboto+Mono:ital,wght@1,200&display=swap');


.App {
  text-align: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 45px;
  margin: 50px 20%;
}


.headers {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  /* border: 1px solid black; */
  height: 100px;
  /* background-color: cornflowerblue; */
  background: url(https://img5.goodfon.com/wallpaper/nbig/2/27/zelenyi-fon-tekstura-abstract-background-green-color.jpg);
  /* background: url(https://wallpaperaccess.com/full/2835280.jpg); */
  background-size: 100%;
}

.linkFlex{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  width: 50%;
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.linkFlex > a {
  text-decoration: none;
  color: aqua;
}

.title{
  font-family: 'Aldrich', sans-serif;
  font-size: 50px;
  margin-left: 5%;
  -webkit-text-stroke: 0.1px black;
  color: aqua;
  font-weight: bolder;
}

.user{
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

