@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

.App {
  text-align: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 45px;
  margin: 50px 20%;
}


.headers {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  /* border: 1px solid black; */
  height: 100px;
  /* background-color: cornflowerblue; */
  background: url(https://img5.goodfon.com/wallpaper/nbig/2/27/zelenyi-fon-tekstura-abstract-background-green-color.jpg);
  /* background: url(https://lh3.googleusercontent.com/proxy/GimhjZe1XUybbrkB0cPjP4Lr1SAkLIXBVEsPaoW-gdjkBxqpQ1cz6hcwzAacWPB_IOOBm2FZbB6ibU4TqDKZGHE9bXZucayjTlsxrQT_xVhVSd7vQbCs51TIs6G0azyyFA); */
}

.title{
  font-family: 'Aldrich', sans-serif;
  font-size: 50px;
}

.user{
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

